@model Finalprojct.DAL.Github

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Github</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Contact.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gitaddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gitaddress)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GitID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
